body {
    background-color: darkgrey;
}

nav{
    margin-bottom: 0 !important;
}

#navLogo {
    margin-top: -15px;
}

.page-header {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 70px !important;
}

.page-header,.page-header h1 {
    margin : 0 !important;
}

.paralcontainer-wrap{
    position: relative;
    z-index: 1;
}

.paralcontainer{
    position: relative;
    padding: 1.2em;
    color: white;
}

.paralcontainer::before {
    display: block;
    position: absolute;
    top: 0;
    left: 25%;
    width: 50%;
    height: 100%;
    content: "";
    background-color: rgba(201, 100, 29, 0.9);
    transform: skew(-25deg,0);
    box-shadow: 0.2em 0.2em 8px black;
    border-radius: 0.3em;
    z-index: -1;
}

#menu {
    background-color: #333;
    padding: 8em 3em;
    margin-top: 1em;
    position: relative;
}

#menu a {
    font-size: 2em;
    background-color: rgb(201, 100, 29);
    border: 0;
    transition: 0.3s;
}

.actu {
    margin-top: 1em;
    font-size: 1.7em;
}

#menu a:hover {
    background-color: white;
    box-shadow: 0.3em 0.3em 0 rgb(201, 100, 29);
    color: rgb(201, 100, 29);
    transform: translate(-3px,-3px);
}

#menu::before {
    display: block;
    position: absolute;
    top: 1.5em;
    left: 49%;
    width: 3em;
    height: 3em;
    content: "";
    transform: rotateZ(-45deg);
    border-radius: 0.3em;
    border-bottom: solid 0.5em rgb(201, 100, 29);
    border-left: solid 0.5em rgb(201, 100, 29);
}

footer{
    background-color: #111;
}

footer p {
    margin: 0;
}

footer .small {
    margin: 2em 0 0 25%;
}